.vscode
.vs
build
build_d*
build_r*
lib-devel
lib
libs
bin_debug
*.exe
*.zip
*.tar.gz
*-devel
*.dll
*.lib
*.orig
GIMP
aseprite
deps
*.log
src/version.h
*.spv
blender
external
.syntactic*
.cache
compile_commands.json
.clangd
out
*.info
*.supp
